.slide-1 img {
  max-height: initial;
}

.slide-1 figure::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.slide-1 h2,
.slide-1 p {
  color: #fff;
  position: relative;
  z-index: 20;
}

.slide-1 h2 {
  font-size: 100px;
  margin-top: 100px;
}

.slide-1 p {
  font-size: 40px;
  margin-top: 40px;
}
