/* Progress */

.progress {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: var(--progress-size);
    overflow: hidden;
}

.progress::before {
    display: block;
    width: 100%;
    height: var(--progress-size);
    background: var(--color-blue);
    content: '';
}

/* List */

.shower.list .progress {
    display: none;
}

/* Full */

.shower.full .progress {
    display: block;
}

/* Print */

@media print {
    .shower.list .progress,
    .shower.full .progress {
        display: none;
    }
}
